body {
        background-image: url('https://media.istockphoto.com/id/494094990/vector/figures-3d-seamless-wallpaper-pattern.jpg?s=612x612&w=0&k=20&c=q8qUEG3rkGMDR0kZ4kRf577W6V3iqlvTtPvyvzXb23g=');
        background-size: cover; 
        background-repeat: no-repeat; 
        font-family: Arial, sans-serif; 
    }
button:focus {
    outline: none;
}

button {
    border: none;
    background-color: transparent;
}

.calculator {
    display: inline-block;
    background: skyblue;
    padding: 25px 20px;
    margin-top: 2rem;
    color: #333;
    width: 350px;
    text-align: center;
    border-radius: 5px;
}

input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 10px;
}

#input {
    border-radius: 5px;
    height: 90px;
    font-size: 25px;
    color: navy; 
}

#output {
    font-size: 22px;
    border-radius: 0 0 5px 5px;
}

.calculator table {
    margin: auto;
}

table {
    margin-top: 10px !important;
}

table tr td {
    padding: 10px 12px;
    background: repeating-linear-gradient(320deg, #f7f7f7, transparent 100px); 
}

table tr td button {
    padding: 10px 15px;
    color: black;
}

table tr td p {
    padding: 10px 15px;
    color: black; 
    margin: 0;
    cursor: pointer;
}
